body {
  display: block;
  background-color: #171a1f;
  max-width: 1100px;
  margin: 0 auto;
  min-width: 630px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav a {
  color: white; /* Remove Hyperlink Color */
  font-size: 16px;
  text-decoration: none; /* Removal of hyperlinked bottom line */
}

nav ul li a {
  font-size: 20px;
}

.MenuPage a {
  font-size: 30px;
}

nav a:hover {
  /*background-color: rgb(115, 115, 115);*/
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #3c5bff;
  color: white;
}

.MainPageNav .NavLeft_desktop a {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #171a1f;
  color: white;
}

#XImage {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px; 
  cursor: pointer;
}


.MainPageNav {
  display: flex;
  width: 95%;
  height: 64px;
  background-color: #171a1f;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  z-index: 20;
  margin: 0 auto;
}

.NavLeft_desktop {
  display: block;
  padding-left: 1%;
}

.MenuBTN {
  height: auto;
  background-color: transparent;
  border: none;
}

.flex-nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 450px;
  list-style: none;
  flex-direction: row;
}

.NavRight {
  display: flex;
    align-content: stretch;
    padding-right: 1%;
    padding-left: 1%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #3c5bff;
    transition: 0.6s;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
    margin-right: 2%;
}
.List_BTN {
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #3c5bff;
  transition: 0.6s;
  color: #FFFFFF;
  height: 36px;
  width: 60px;
}

.NR_BTN {
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #3c5bff;
  transition: 0.6s;
  color: #FFFFFF;
}

.NR_BTN:hover {
  background-color: #ffbb77;
}
.NR_BTN:active {
  background-color: #3c5bff;
}
.NavRight:hover {
  background-color: #ffbb77;
}
.NavRight:active {
  background-color: #3c5bff;
}

.MainDiv {
  margin: 0% 5% 5% 5%;
  text-align: center;
}
.fTitle{
  line-height: 1.5;
    color: #3C5BFF;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: .02667rem;
}

.fInput{
    display: flex;
    align-items: center;
    width: 780px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2F343E;
    background-color: #202229;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
}
.fInput input {
    flex: 0.95;
    font-size: 24px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
}
.fInput i{
  background-color: #2f343e;
    width: 0.02667rem;
    height: 100%;
    margin-left: 0.10667rem;
}

.fbutton{
    background-color: #202229;
    cursor: pointer;
    border: none;
    /* margin: auto 0; 
    border-right: none;
    border-left-color: #2F343E;
    border-top: none;
    border-bottom: none;
    */
    height: 100%;
}

.fbutton svg{
  /*margin-left: 10px;*/
}
.fsubManiu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px;
}
.ftool{
  display: flex;
  background-color: #36383E;
  width: 500px;
}
.ftool button{
  background-color: #2f343e;
  color: #ffffff;
  height: 40px;
  width: 100%;
  font-size: 18px;
  border: none;
}

.ftool button:hover{
  background-color: #6699FF;
}
.ftoolBTNactive {
  background-color: #3C5BFF !important;
}

.fList{
  display: flex;
    background-color: #202229;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2F343E;
    flex-direction: column;
    align-items: center;
}
.ltop{
  display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
}
.ltop p{
    color: #3C5BFF;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 40px;
}

.lInput{
    display: flex;
    align-items: center;
    width: 170px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #2f343e;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
    margin-right: 40px;
    margin-top: 38px;
}
.lInput input {
    flex: 0.9;
    font-size: 10px;
    color: #ffffff;
    line-height: 22px;
    background-color: #2f343e;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
}
.lInput i{
  background-color: #2f343e;
    width: 0.02667rem;
    height: 100%;
    margin-left: 0.10667rem;
}

.linputBT{
    background-color: #2f343e;
    cursor: pointer;
    /* margin: auto 0; */
    border-right: none;
    border-left-color: #2F343E;
    border-top: none;
    border-bottom: none;
    height: 100%;
}

.linputBT svg{
  margin-left: 3px;
}

.list_table{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 420px;
  
  overflow: auto;
  width: 90%;
  
  
}

.list_table table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #ffffff;
}


.list_table th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  /*border-bottom: 5px double #FFFFFF;*/
}
tbody tr:nth-child(1):hover{
  background-color: #2f343e;
}
.list_table tr:hover {
  background-color: #66B3FF;
}

.list_table tr {
cursor: pointer;
}

.list_table td {
  text-align: center;
  padding: 15px; 
  border-bottom: 1px solid #2F343E;
}

.list_table td a {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.list_table td p {
  color: #3c5bff;
  font-size: 20px;
}


.switchpage{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}
.switchpage p{
  width: 29px;
    display: flex;
    color: #ffffff;
    background-color: #202229;
    border-radius: 5px;
    border: 1px solid #2F343E;
    height: 28px;
    justify-content: space-around;
    align-items: center;
}


.switchpage button{
    color: #ffffff;
    background-color: #202229;
    border-radius: 5px;
    border: 1px solid #2F343E;
    height: 30px;
    width: 30px;
}
.switchpage button:active{
  background-color: #3C5BFF;
}

.long-list::-webkit-scrollbar {
  width: 10px; 
}

.long-list::-webkit-scrollbar-thumb {
  background-color: #4CAF50; 
  border-radius: 5px; 
}

.long-list::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}


.long-list {
  height: 300px; 
  overflow-y: scroll;
}
/* home page*/
.P2Topdiv{
  margin-top: 20%;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
}
.P2Topdiv_P1 {
  margin-top: 50px;
    font-family: "Fira Code", monospace;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
}
.P2Connect{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.P2chainTitle{
  margin: 0px;
  font-weight: 600;
  font-family: "Fira Code", monospace;
  font-size: 4rem;
  line-height: 1.167;
  text-align: center;
}
.Connectbutton{
    color: #ffffff;
    line-height: inherit;
    cursor: pointer;
    background-color: #323232;
    border: 1px solid #ffffff;
    padding: 10px;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

.Connectbutton:active {
  background-color: #505050;
}

/* home page*/
/* tokenp2 page*/
.tMainDiv{
  padding-top: 3.2rem;
  text-align: center;
}
.tMainDiv a{
  text-decoration: none;
}
.tokens{
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
  margin: 25px;
}
.tkname{
  color: #3c5bff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
.tkchain{
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  border: 3px solid #2f343e;
  background-color:#2f343e;
}
.token_info{
  display: flex;
  background-color: #202229;
  width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #2F343E;
  flex-direction: column;
  align-items: center;
}
.token_mint{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 100%;
  
  
}

.market_main{
  display: flex;
  background-color: #202229;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #2F343E;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.market_button {
  float: left;
  text-align: center;
  line-height: 30px;
  width: 120px;
  height: 40px;
  color: #FFF;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
  border: solid 1px #0082BE;
  border-radius: 2px;
  margin-left: 10px;
  cursor: pointer;
}

.market_button:hover {
  background: gray;
}

/*My ins*/
.backlpg{
  color: #6C6C6C;
  display: flex;
}
.miMainDiv{
  margin: 0 auto;
  width: 94%;
}


.miInfo{
  display: flex;
  color: #ADADAD;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  margin-left: 0;
  margin-top: 2%;
  align-items: center;
}

.miInfoL span{
  padding-left: 3%;
}
.miInfoL span:first-child {
  padding-left:0;
}
.miInfoL button{
  border: none;
  height: 36px;
  background-color:#171a1f;
  color: gray;
  border-bottom: 2px solid;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 16px;
}

.miInfoR{
  margin-right: 1%;
}

.miInfoBTNactive{
color: #3C5BFF !important;
}

.miInfoTop2{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

.miInfoTop2 p:first-child {
  border: none;
  margin-left: 0;
}

.miInfo_balance{
  color: gray;
  margin: 1%;
  margin-left: 3%;
  /*border-left: 1px solid gray;*/
}

.miInfo_balance span {
  padding-left: 10px; 
  color: white;
}
.miInfoTop2 .miInfo_balance::after {
  color: white;
}

.miInfoL{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-left: 0;
}
.miInfo_Chainname{
  color: #3c5bff;
    border-radius: 30px;
    border: 1px solid #3c5bff;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  margin-right: 10px;
}
.miInfo_balance{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
/*
.miInfo_balance2{
  display: flex;
  justify-content: space-between;
  align-items: center;
    width: 150px;
}*/
.MarketDiv{
  width: 94%;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
}

.miMyInscrip{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.miInfo_balance_txt{
  color:#3c5bff;
  display: flex;
  justify-content: space-between;
  width: 60px;
  padding-right: 5px;
}
.Splitline{
  border-bottom: 1px solid gray;width:90%;
  width: 94%;
  margin: 0 auto;
}


.miMyInsItem{
  display: flex;
  border: 1px solid gray;
  color: #ffffff;
  border-radius: 15px;
  background-color: #2f343e;
  flex-direction: column;
  width: 20%;
  height: 250px;
  padding: 10px;
  margin: 1%;
}
.miItem01{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.miItem02{
  display: flex;
  color: #6C6C6C;
  
}
.miItem02 p {
  border: 1px solid gray;
}
.miItem02 p:first-child {
  margin-left: 5px;
  margin-right: 10px;
}
.miItem03{
  display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 26px;
    margin-bottom: 20px;
}
.miItem04{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.miMyInsItem02{
  /*display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;*/
    width: 20%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
    /*padding: 10px;
    justify-content: flex-start;
    align-items: stretch;*/
}
/*
.miMyInsItem02:hover{
  border: 1px solid #3C5BFF;
}
*/
.miMyInsItem02:hover .tradelist_info_T{
  border: 1px solid #3C5BFF;
  border-bottom:none;
}
.miMyInsItem02:hover .tradelist_info_B {
  border: 1px solid #3C5BFF;
  border-top:none;
}
.miMyInsItem02:hover{
  border:none;
}


.miItem_name{
  display: flex;
  margin-top: 5px;
  margin-left: 10px;
  color:#3c5bff;
}
.miItem_amount{
  padding-top: 25px;
    font-size: 18px;
}
.miItem_amount span {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
}

.miItem_per_price{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 14px;
  font-size: 12px;
  color:#3c5bff;
}
.miItem_price{
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  flex-wrap: wrap;
}

.miItem_price span {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.miItem_seller{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  
}
.miItem_seller p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px;
  font-size: 18px;
}

.miItem_seller span {
  margin-right: 8px;
  font-size: 18px;
}
.trade_BTN02{
    border: none;
    border-radius: 24px;
    background-color: #171a1f;
    border: 1px solid #2F343E;
    color: #3C5BFF;
    font-size: 14px;
    width: 90%;
    margin-top: 10px;
    height: 30px;
}
.trade_BTN02:active {
  background-color: #3c5bff;
  color:white;
}
.trade_BTN02:hover{
  border: 1px solid #3C5BFF;
}

.miItem_chain_div{
  display: flex;
}

.miItem_chain_div button{
  color: rgba(255, 255, 255, 0.44);
    font-size: 10px;
    background-color: #202229;
    border: 1px solid rgba(255, 255, 255, 0.44);
    margin: 5%;
    border-radius: 4px;
}


.tradelist_info_T{
  border: 1px solid #2F343E;
  border-bottom: none;
  color: #ffffff;
  border-radius: 15px 15px 0px 0px;
  margin: 1% 1% 0% 1%;
  background-color: #202229;
  padding-bottom: 20px;
}

.tradelist_info_B{
  border: 1px solid #2F343E;
  color: #ffffff;
  border-radius: 0px 0px 15px 15px; 
  border-top: none;
  margin: 0% 1% 1% 1%;
  background-color: rgba(255, 255, 255, 0.18); 
  padding: 10px 
}
.button-container button{
  display: flex;
    align-items: center;
    justify-content: center;
}

/*My ins*/





.token_mint p{
  color: #ffffff;
  font-size: 24px;
}
.token_mint button{
  background-color: #3c5bff;
    color: #ffffff;
    border: none;
    height: 55px;
    width: 80px;
    font-size: 18px;
    border-radius: 5px;
}
.token_mint button:active {
  background-color: #1e2f7f;
}
.token_Overview{
  -webkit-justify-content: space-between;
  width: 90%;
}
.token_Overview p{
  display: flex;
  color: #B1B2B4;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}
/* tokenp2 page*/

/* Homepage tick*/
.tick_info {
  display: flex;
  /*background-color: #202229;*/
  background-color:#171a1f;
  width: 100%;
  margin-top: 5%;
  border-radius: 10px;
  border: 1px solid #2F343E;
  flex-direction: column;
  align-items: center;
}

.THTitle{
  color: #3C5BFF;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.tick_container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin: 1% 1% 1% 1%;
  max-height: 430px;
  overflow-y: auto;
}
#home_balanceOf {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tick_div{
  width: 200%; 
  box-sizing: border-box; 
  padding: 10px; 
  border: 1px solid #2F343E;
  border-radius: 10px;
  margin: 1% 1% 1% 3.5%;
  font-size: 12px;
  width: 20%;
  background-color: #202229;
}
.tick_div:hover{
  border: 1px solid #3C5BFF;
}

.tick_Title{
  display: flex;
  color: #3C5BFF;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.tick_balance {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  font-size: 27px;
  font-family: 'Poppins', sans-serif;
}
.tick_price{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.trade_BTN{
    margin-left: 50%;
    border: none;
    border-radius: 24px;
    background-color: #171a1f;
    border: 1px solid #3C5BFF;
    color: #3C5BFF;
    font-size: 14px;
    width: 55%;
    height: 30px;
  /*
  padding: 10px;
    height: 30px;
    border-radius: 24px;
    color: #3C5BFF;
    border: 1px solid #3C5BFF;
    background-color: #202229;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;*/
}
.trade_BTN:active {
  background-color: rgba(255, 255, 255, 0.3); 
}

.tick_chain_div{
  display: flex;
  
}
.tick_chain_div button{
  color: rgba(255, 255, 255, 0.44);
  font-size: 8px;
  background-color: #202229;
  border: 1px solid rgba(255, 255, 255, 0.44);
  margin-right: 5%;
  border-radius: 4px;
}
.tick_balance_div{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.trade_BTN_div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10%;
}

/* Homepage tick*/
/* Homepage Transfer*/
.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .transfer-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 1001;
        border-radius: 10px;
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        max-width: 400px;
        width: 50%;
        display: flex;
        flex-direction: column;
        min-width: 360px;
        font-family: 'Anton', sans-serif;
        
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
    
    .transfer-Address input{
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        padding-top: 3px;
        margin-top: 3%;
        width: 90%;
        height: 44px;
        padding: 0px 10px 0px 10px;
        border-radius: 12px;
        font-size: 14px;
        outline: none;
        /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));*/
    }
    .transfer-Amount input{
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        padding-top: 3px;
        margin-top: 3%;
        width: 80%;
        height: 44px;
        padding: 0px 10px 0px 10px;
        border-right: none;
        border-radius: 12px 0px 0px 12px;
        font-size: 14px;
        outline: none;
        /*filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));*/
    }

    .transfer-Address
    {
        display: flex;
        flex-direction: column;
    }
    .transfer-Amount
    {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 0px;
    }
    .transfer-Amount-input button{
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        color: white;
        height: 46px;
        border-left: none;
        margin-left: -5px;
        font-size: 14px;
        border-radius: 0px 12px 12px 0px;
        /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));*/
    }
    .button-container {
        padding-top: 5%;
        display: flex;
        justify-content: center;
    }
    
    .button-container button{
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px;
        border-style: solid;
        border-radius: 24px;
        padding: 5px;
        margin-right: 5%;
        height: 36px;
        width: 25%;
        font-size: 16px;
    }
    .button-container button:hover{
        border-color: white;
    }
    .button-container button:active{
        background-color:#3c5bff
    }
/* Homepage Transfer*/
/*Market*/
.MarketList-dialog {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 1001;
        border-radius: 10px;
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        max-width: 400px;
        width: 50%;
        display: flex;
        flex-direction: column;
        min-width: 360px;
        font-family: 'Anton', sans-serif;
        
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
    
    .MarketList-Address input{
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        padding-top: 3px;
        margin-top: 3%;
        width: 90%;
        height: 44px;
        padding: 0px 10px 0px 10px;
        border-radius: 12px;
        font-size: 14px;
        outline: none;
        /*filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));*/
    }
    .MarketList-Amount input{
        color: white;
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        padding-top: 3px;
        margin-top: 3%;
        width: 80%;
        height: 44px;
        padding: 0px 10px 0px 10px;
        border-right: none;
        border-radius: 12px 0px 0px 12px;
        font-size: 14px;
        outline: none;
        /*filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));*/
    }

    .MarketList-Address
    {
        display: flex;
        flex-direction: column;
    }
    .MarketList-Amount
    {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 0px 0px;
    }

    .MarketList-Amount-input button{
        background-color: #202229;
        border-color: #2F343E;
        border-width: 1px; 
        border-style: solid;
        color: white;
        height: 46px;
        border-left: none;
        margin-left: -5px;
        font-size: 14px;
        border-radius: 0px 12px 12px 0px;
    }

    .MarketList-Title{
        display: flex;
        color: white;
        align-items: center;
        justify-content: flex-start;
        height: 15px;
        padding-bottom: 25px;
    }

    .MarketList-Title p:first-child {
        font-size: 16px;
        padding-right: 10px;
    }

    .MarketList-Title p:last-child {
        font-size: 22px;
        color:#3c5bff;
    }
/*Market*/



/* scrollbar style*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    }

::-webkit-scrollbar-button {
      background: transparent;
      border-radius: 4px;
    }

::-webkit-scrollbar-track-piece {
      background: transparent;
    }

::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #3C5BFF;
      border: 1px solid slategrey;
    }

::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
@media screen and (max-width: 399px)
{
  .MainDiv {
    margin: 8% 8% 8% 8%;
    /*padding-top: 3.2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0px;
}
  .fList {
    display: flex;
    background-color: #202229;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2F343E;
    flex-direction: column;
    align-items: center;
  }
  .fInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2F343E;
    background-color: #202229;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
}
  
.fInput input {
    flex: 0.95;
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  
  .lInput input {
    flex: 0.9;
    font-size: 8px;
    color: #ffffff;
    line-height: 22px;
    background-color: #2f343e;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  .ftool button{
    background-color: #2f343e;
    color: #ffffff;
    height: 40px;
    width: 100%;
    font-size: 14px;
    border: none;
}
  nav ul li a {
  font-size: 16px;
}
  .flex-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 300px;
    list-style: none;
    flex-direction: row;
}
  .fTitle {
    line-height: 1.5;
    color: #3C5BFF;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .02667rem;
}
  .trade_BTN{
    margin-left: 50%;
    border: none;
    border-radius: 24px;
    background-color: #171a1f;
    border: 1px solid #3C5BFF;
    color: #3C5BFF;
    font-size: 14px;
    width: 55%;
    height: 30px;
}
  .tick_div {
    width: 200%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #2F343E;
    border-radius: 10px;
    margin: 1% 1% 1% 3.5%;
    font-size: 12px;
    width: 40%;
    background-color: #202229;
}
  
.miMyInsItem02 {
    /*display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;*/
    width: 40%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
    /*padding: 10px;
    justify-content: flex-start;
    align-items: stretch;*/
  }  

}

@media screen and (min-width: 400px)
{
  .MainDiv {
    margin: 5% 5% 5% 5%;
    /*padding-top: 3.2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0px;
}
  .fList {
    display: flex;
    background-color: #202229;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2F343E;
    flex-direction: column;
    align-items: center;
  }
  .fInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2F343E;
    background-color: #202229;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
}
.fInput input {
    flex: 0.95;
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  
  .lInput input {
    flex: 0.9;
    font-size: 8px;
    color: #ffffff;
    line-height: 22px;
    background-color: #2f343e;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  .ftool button{
    background-color: #2f343e;
    color: #ffffff;
    height: 40px;
    width: 100%;
    font-size: 14px;
    border: none;
}
  nav ul li a {
  font-size: 16px;
}
  .flex-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 300px;
    list-style: none;
    flex-direction: row;
}
  .fTitle {
    line-height: 1.5;
    color: #3C5BFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .02667rem;
}
  .trade_BTN{
    margin-left: 50%;
    border: none;
    border-radius: 24px;
    background-color: #171a1f;
    border: 1px solid #3C5BFF;
    color: #3C5BFF;
    font-size: 14px;
    width: 55%;
    height: 30px;
}
  .tick_div {
    width: 200%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #2F343E;
    border-radius: 10px;
    margin: 1% 1% 1% 3.5%;
    font-size: 12px;
    width: 40%;
    background-color: #202229;
}
  
.miMyInsItem02 {
    /*display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;*/
    width: 40%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
    /*padding: 10px;
    justify-content: flex-start;
    align-items: stretch;*/
  }
  
  
}
@media screen and (min-width: 680px)
{
  .MainDiv {
    margin: 10% 10% 10% 10%;
    /*padding-top: 3.2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0px;
  }
  .fList {
    display: flex;
    background-color: #202229;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2F343E;
    flex-direction: column;
    align-items: center;
  }
  .fInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2F343E;
    background-color: #202229;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
}
  
.fInput input {
    flex: 0.95;
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  .ftool button{
    background-color: #2f343e;
    color: #ffffff;
    height: 40px;
    width: 100%;
    font-size: 16px;
    border: none;
}
  nav ul li a {
  font-size: 18px;
}
  .flex-nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 380px;
    list-style: none;
    flex-direction: row;
}
  .fTitle {
    line-height: 1.5;
    color: #3C5BFF;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: .02667rem;
}
  .trade_BTN{
    margin-left: 50%;
    border: none;
    border-radius: 24px;
    background-color: #171a1f;
    border: 1px solid #3C5BFF;
    color: #3C5BFF;
    font-size: 14px;
    width: 55%;
    height: 30px;
}
  
  .tick_div {
    width: 200%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #2F343E;
    border-radius: 10px;
    margin: 1% 1% 1% 3.5%;
    font-size: 12px;
    width: 40%;
    background-color: #202229;
}
  
.miMyInsItem02 {
    /*display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;*/
    width: 40%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
    /*padding: 10px;
    justify-content: flex-start;
    align-items: stretch;*/
  }
  
}

@media screen and (min-width: 800px)
{
  .MainDiv {
    margin: 5% 5% 5% 5%;
    /*padding-top: 3.2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0px;
  }
  .fTitle {
    line-height: 1.5;
    color: #3C5BFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .02667rem;
}
.fInput input {
    flex: 0.95;
    font-size: 28px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  
  .tick_div {
    width: 200%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #2F343E;
    border-radius: 10px;
    margin: 1% 1% 1% 3.5%;
    font-size: 12px;
    width: 20%;
    background-color: #202229;
}
  
.miMyInsItem02 {
  /*
    display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;
  */
    width: 20%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
  /*
    padding: 10px;
    justify-content: flex-start;
    align-items: stretch;
  */
  }
  .miItem_seller p {
    font-size: 13px; 
  }
  .miItem_seller span {
    margin-right: 8px;
    font-size: 13px; 
  }
  
}
@media screen and (min-width: 1000px)
{
  .MainDiv {
    margin: 5% 5% 5% 5%;
    /*padding-top: 3.2rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 0px;
  }
  .fList {
    display: flex;
    background-color: #202229;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #2F343E;
    flex-direction: column;
    align-items: center;
  }
  .fInput {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #2F343E;
    background-color: #202229;
    transition: all .2s ease-in-out 0s;
    margin: 0.53333rem auto;
    justify-content: space-around;
}
  
.fInput input {
    flex: 0.95;
    font-size: 30px;
    color: #ffffff;
    line-height: 40px;
    background-color: #202229;
    border: none;
    padding: 0 0.26667rem;
    outline: none;
  }
  
  .tick_div {
    width: 200%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #2F343E;
    border-radius: 10px;
    margin: 1% 1% 1% 3.5%;
    font-size: 12px;
    width: 20%;
    background-color: #202229;
 }
  
.miMyInsItem02 {
    /*display: flex;
    border: 1px solid #2F343E;
    color: #ffffff;
    border-radius: 15px;
    background-color: #202229;
    flex-direction: column;*/
    width: 20%;
    height: 315px;
    margin: 1%;
    margin-top: 5%;
    min-width: 180px;
    /*padding: 10px;
    justify-content: flex-start;
    align-items: stretch;*/
  }
  .miItem_seller p {
    font-size: 13px; 
  }
  .miItem_seller span {
    margin-right: 8px;
    font-size: 13px; 
  }
}


#listed {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}

#my_listed {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
.market_item {
  float: left;
  margin-left: 26px;
  margin-top: 20px;
  width: 216px;
  height: 260px;
  background-color: transparent;
  border: solid;
  border-radius: 4px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);  
}

.item_name {
 float: left;
 margin-top: 20px;
 margin-left: 20px;
 font-weight:800;
}

.item_amount {
  width: 100%;
  float: left;
  text-align: center;
  height: 40px;
  align-items: center;
  line-height: 40px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.item_per_price{
  width: 100%;
  float: left;
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
}

.item_price {
  float: left;
  width: 100%;
  padding-left: 20px;
  margin-top: 15px;
  height: 25px;
  line-height: 25px;
  font-size: 1.2rem;
  font-weight: 500;
}

.seller {
  float: left;
  width: 100%;
  padding-left: 20px;
  height: 25px;
  line-height: 25px;
  font-size: 0.8rem;
  margin-top: 8px;
}



.market_buy_button {
  float: left;
  text-align: center;
  line-height: 30px;
  width: 120px;
  height: 40px;
  color: #FFF;
  background-color: #3C5BFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
  border: solid 1px #0082BE;
  border-radius: 4px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}

.market_buy_button:hover {
  background-color:#0082BE;
  color: white;
  cursor: pointer;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #16a34a;
  border-radius: 0.25em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 3em;
  line-height: 3em;
  padding: 0 1em;
}
.button:hover {
  border: 1px solid #3c5bff;
}

.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index:999;
}
.details-modal .details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
  margin: 0;
  height: 120px;
}
.details-modal .details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
#list_btn {
  cursor: pointer;
}
.list_input {
  outline-style: none ;
  border: 1px solid #ccc; 
  border-radius: 3px;
  padding: 6px;
  width: 80%;
  margin-left: 10%;
  font-size: 14px;
  height: 30px;
  font-family: "Microsoft soft";
  float: left;
}

#price {
  float: left;
  width: 85%;
  margin-left: 5%;
  margin: 0;
  margin-left: 30px;
}

#amount {
  float: left;
  width: 85%;
  margin-left: 5%;
  margin: 0;
  margin-left: 30px;
}

#confirm {
  float: right;
  text-align: center;
  line-height: 30px;
  width: 120px;
  height: 40px;
  color: #FFF;
  background-color: #3C5BFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
  border: solid 1px #0082BE;
  border-radius: 4px;
  width: 80px;
  margin-left: 5%;
  margin-top: 10px;
  cursor: pointer;
}

#cancel {
  float: right;
  text-align: center;
  line-height: 30px;
  width: 120px;
  height: 40px;
  color: #FFF;
  background-color: #3C5BFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
  border: solid 1px #0082BE;
  border-radius: 4px;
  width: 80px;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 5%;
}
#cancel:hover {
  background-color: #2f343e;
}
#confirm:hover {
  background-color: #2f343e;
}
/* .list_input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
} */